#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard {
  display: grid;
  grid-template-rows: repeat(5, 7.5vh);
  grid-template-columns: repeat(30, 3.5vh);
  grid-gap: 4px;
}

.keyboard:hover {
  border-color: cornflowerblue;
}

.keyboard > :nth-child(n+1):nth-child(-n+14) {
  grid-column: span 2;
  grid-row: 1;
}

.keyboard > :nth-child(n+16):nth-child(-n+27) {
  grid-column-start: 3;
  grid-column: span 2;
  grid-row: 2;
}

.keyboard > :nth-child(n+30):nth-child(-n+40) {
  grid-column: span 2;
  grid-row: 3;
}

.keyboard > :nth-child(n+43):nth-child(-n+52) {
  grid-column: span 2;
  grid-row: 4;
}

.keyboard > :nth-child(n+54):nth-child(-n+56) {
  grid-column: span 3;
  grid-row: 5;
  width: 11vh;
}

.keyboard > :nth-child(n+58):nth-child(-n+61) {
  grid-column: span 3;
  grid-row: 5;
  width: 11vh;
}

.keyboard > :nth-child(14) {
  grid-column: 14/16;
  width: 15vh;
}
.keyboard > :nth-child(15) {
  grid-column: span 3;
  grid-row: 2;
  width: 11vh;
}
.keyboard > :nth-child(28) {
  grid-column: span 3;
  grid-row: 2;
  width: 11.2vh;
}
.keyboard > :nth-child(29) {
  grid-column: span 4;
  grid-row: 3;
  width: 14.8vh;
}
.keyboard > :nth-child(41) {
  grid-column: span 4;
  grid-row: 3;
  width: 15vh;
}
.keyboard > :nth-child(42) {
  grid-column: span 5;
  grid-row: 4;
  width: 18.5vh;
}
.keyboard > :nth-child(53) {
  grid-column: span 5;
  grid-row: 4;
  width: 18.75vh;
}
.keyboard > :nth-child(57) {
  grid-column: span 9;
  grid-row: 5;
  width: 33.8vh;
}