.singleKey {
  height: 7.5vh;
  padding: 0.5vh;
  background-color: #1a1a1a;
  border: 5px solid white;
}

.singleKeyPressed {
  height: 7.5vh;
  color: black;
  background-color: white;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white;
}

.singleKey:hover {
  border: 5px solid #646cff;
  box-shadow: 0 0 10px #646cff, 0 0 20px #646cff, 0 0 40px #646cff;
}

.singleKeyPressed:hover {
  border: 5px solid #646cff;
  background-color: #646cff;
  box-shadow: 0 0 10px #646cff, 0 0 20px #646cff, 0 0 40px #646cff;
}
